{% extends "base.html" %}
{% block content %}
    <div class="transport-form col-lg-7">
    <div class="margins">
    	<div class="introduction">
	    	<h2><span style="color:#4BCA35">Reduce</span> your carbon footprint.<br>Travel <span style="color:#4BCA35">responsibly.</span></h2>
    	</div>
    	<div class="col-lg-5">
	    	<div class="form-group">
			  <label for="usr">From</label>
			  <input type="text" class="form-control" id="from">
			</div>

			<div class="form-group">
			  <label for="usr">Departure Date</label>
			  <input type="text" class="form-control" id="departure">
			</div>
		</div>
		<div class="col-lg-2 form-arrow">
			<i class="fa fa-arrow-right" aria-hidden="true"></i>
		</div>
		<div class="col-lg-5 right-form">
			<div class="form-group">
			  <label for="usr">To</label>
			  <input type="text" class="form-control" id="to">
			</div>
			<script>
				$("#from").keyup(function() {
				    var search = $("#from").val()
				    console.log(search);
				    if (search != "") {
				      $.ajax({
				        url: "https://api.sandbox.amadeus.com/v1.2/airports/autocomplete?apikey={{ amadeusKey }}&term=" + search,
				        success: function(result) {
				          console.log(result);
				          var codes = []
				          for (var i = 0; i < result.length; i++) {
				            console.log(result[i]['value'])
				            if (i > 5) {
				              break;
				            }
				            codes.push({label: result[i]['label'], value:result[i]['value']});
				          }
				          console.log(codes);
				          $('#from').autocomplete({
				            source: codes
				          });
				        }
				      });
				    }
				  });
				$("#to").keyup(function() {
				    var search = $("#to").val()
				    console.log(search);
				    if (search != "") {
				      $.ajax({
				        url: "https://api.sandbox.amadeus.com/v1.2/airports/autocomplete?apikey={{ amadeusKey }}&term=" + search,
				        success: function(result) {
				          console.log(result);
				          var codes = []
				          for (var i = 0; i < result.length; i++) {
				            console.log(result[i]['value'])
				            if (i > 5) {
				              break;
				            }
				            codes.push({label: result[i]['label'], value:result[i]['value']});
				          }
				          console.log(codes);
				          $('#to').autocomplete({
				            source: codes
				          });
				        }
				      });
				    }
				  });
			</script>
			<div class="form-group">
			  <label for="usr">Return Date</label>
			  <input type="text" class="form-control" id="return">
			</div>
		</div>
		<div class="col-lg-4 people-down">
			<div class="form-group">
				<label for="usr">Adults</label>
				<br>
				<select class="selectpicker people adults">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				</select>
			</div>
		</div>
		<div class="col-lg-4 people-down">
			<div class="form-group">
				<label for="usr">Children</label>
				<br>
				<select class="selectpicker people children">
				  <option>0</option>
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				</select>
			</div>
		</div>
		<div class="col-lg-4 people-down">
			<div class="form-group">
				<label for="usr">Infants</label>
				<br>
				<select class="selectpicker people infants">
				  <option>0</option>
				  <option>1</option>
				  <option>2</option>
				</select>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="submit-button" id="search">
				Search
			</div>
		</div>
		</div>
    </div>
    <div class="col-lg-5">
    	<div id="map"></div>
    </div>
    <script src="../static/index.js"></script>
{% endblock %}
