{% extends "base.html" %}
{% block content %}
	<div class="sign-up-container">
		<div class="sign-up-description">
			<h1>Sign In</h1> 
		</div>
		<div class="sign-form">
			<div class="form-group email">
			  <label for="usr">Email</label>
			  <input type="text" class="form-control" id="email">
			</div>
			<div class="form-group">
			  <label for="usr">Password</label>
			  <input type="password" class="form-control" id="password">
			</div>
			<div class="submit-button signin-button">
				Sign In
			</div>
		</div>
	</div>
{% endblock %}